.bookmark-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  line-height: 0;
  flex-shrink: 0;
}

.bookmark-icon:hover {
  opacity: 0.7;
}

.bookmark-icon svg {
  display: block;
  width: 28px;
  height: 28px;
}


